.Topo {
    width: 100%;    
    height: 67px;
    background: #C3CFD9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E8833A;
    position: fixed;
    top:0px;
    left: 0px;
}

.hidden{
    display: none;
}

ion-icon{
    margin-left: 10px;
    color: #E8833A;
}