* {
    box-sizing: border-box;
}

.title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.movie-seats {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seats {
    display: flex;
    width: 370px;
    height: 180px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.seat {
    width: 26px;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 50%;
    margin-left: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}

.false {
    background: #FBE192;
    border: 1px solid #F7C52B;
}

.alocado {
    background: #8DD7CF;
    border: 1px solid #45BDB0;
}

.legenda {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.margin-right {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-left {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info >:nth-child(1) {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 327px;
}
.info :nth-child(3) {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 327px;
}
input {
    width: 327px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

button {
    margin-top: 50px ;
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
    border: none;
}



.fundo {
    width: 100%;
    height: 117px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #293845;
    background: #DFE6ED;
    border-top: 1px solid #9EADBA;
    position: fixed;
    bottom: 0;
    left: 0;
}

.movie-title{
    display: flex;
    margin-bottom: 10px;
}

.movie-day{
    display: flex;
}